version: '3.8'

services:
  production:
    image: ghcr.io/ralphschuler/jamesbotler:1.2.5
    restart: always
    env_file:
      - .prod.env
    volumes:
      - ./cache:/usr/src/app/cache
      - ./data:/usr/src/app/data
    links:
      - tor0
      - tor1
      - tor2
      - tor3
      - tor4
      - db

  staging:
    build: .
    restart: always
    env_file:
      - .env
    links:
      - tor0
      - tor1
      - tor2
      - tor3
      - tor4
      - db

  db:
    image: mongo
    volumes:
      - ./data/mongodb:/data/db
    restart: always

  db-dump:
    image: tiredofit/mongodb-backup
    restart: always
    volumes:
      - ./data/mongodump:/backup
    environment:
      - DB_HOST=db
    links:
      - db

  tor0:
    image: dperson/torproxy
    restart: always
    environment:
      - LOCATION=DE
  tor1:
    image: dperson/torproxy
    restart: always
    environment:
      - LOCATION=US
  tor2:
    image: dperson/torproxy
    restart: always
    environment:
      - LOCATION=FI
  tor3:
    image: dperson/torproxy
    restart: always
    environment:
      - LOCATION=FR
  tor4:
    image: dperson/torproxy
    restart: always
    environment:
      - LOCATION=HK